# deps
node_modules/

# next
.next/
out/

# env
.env.local
.env*.local

# os
.DS_Store

# build / test
coverage/
output/
.inngest/
next-env.d.ts
*.tsbuildinfo

# supabase
supabase/.branches/
supabase/.temp/

# misc
*.log
.vercel
